[filesystem]
data = /opt/byro/data
media = /opt/byro/data/media
logs = /opt/byro/data/logs
static = /opt/byro/static

[site]
debug = False
url = {{ byro_domain}}

[database]
name = byro
user = byro

[mail]
from = byro@toppoint.de
host = mx01.toppoint.de
tls = true

[locale]
language_code = de
time_zone = Europe/Berlin
