[filesystem]
data = /opt/byro/data
media = /opt/byro/data/media
logs = /opt/byro/data/logs
static = /opt/byro/static

[site]
debug = False
url = {{ byro_domain }}

[database]
name = {{ byro_db.name }} 
user = {{ byro_db.user }} 

[mail]
from = {{ mail.sent_address }} 
host = {{ mail.host }} 
tls = {{ mail.tls_usage }} 

[locale]
language_code = {{ byro_locale.language }} 
time_zone = {{ byro_locale.tz }} 
